<h3>About Biotz</h3>

<p>This application is a test interface for experimenting with a network of one
or more Biotz nodes.  It is not intended to be a production application, it is
a development/experimental tool to assist in the development of the Biotz
system.
</p>

<p>Biotz nodes are small devices that gather and relay data about where they
are physically located (eg their orientation in space, current movement etc).
A group of Biotz nodes can be joined into a network and can provide information
about complex movements of an assembly of parts.
</p>
<p>
For example, a human body may be
considered as an assembly of various limbs. If a number of Biotz nodes are
attached to locations around the body, the movement of the limbs can be
monitored or recorded.
</p>

