.dropdown_selector {
    width: 20em;
    /*background: #222;
    color:  #eee;*/
    line-height: 25px;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
}

.dropdowns {
    /*display: none;*/
    position: absolute;
    margin: 0;
    background: #dddddd;
}

.dropped {
    display: block;
}

.dropdowns > li {
    width: 20em;
    background: #eee;
    line-height: 25px;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
}

.dropdowns > li:hover {
    background: #aaa;
}

.down-arrow {
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    float: right;
    margin-top: 1em;
}
