<h3>Assemblies of Biot Nodes</h3>

<div assemblies>

    <hr/>
    <div>Biotz Nodes detected: {{ getDetectedAddresses().length }} <button [disabled]="wantAll" (click)="showAll(true);">Show All</button></div> 
    <div>Message rate: {{ systemMessageRate | number:'1.1-2' }} req/sec</div>
    <div myThreeD>
    </div>
    <hr/>

    <h3>Node Position Data</h3>
    <div>Currently Monitoring Biotz Nodes: <b>{{ monitoring }}</b></div>
    <button [ngClass]="{'active': monitoring}" (click)="toggleMonitoring()">Toggle Monitor</button>
    <table>
        <thead>
            <tr>
                <td>&nbsp;</td>
                <th>Biotz Address</th>
                <th>Parent</th>
                <th>Timestamp</th>
                <th>Status</th>
                <th>Calibration control</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let address of getVisibleAddresses()">
                <td><button (click)="identify(address)">Identify</button></td>
                <td (click)="toggleShowAll(address)"><span [style.background]="'#' + getNodeColour(address)">&nbsp;&nbsp;</span>{{ address }}</td>
                <td>
                    <!--<ng-select
                        [allowClear]="true"
                        [items]="getOtherAddresses(address)"
                        (data)="connectNodes(address, $event)"
                        (selected)="console.log($event)"
                        (removed)="console.log($event)"
                        (typed)="console.log($event)"
                        placeholder="No parent"
                        >
                        </ng-select>-->
                </td>
                <td>{{ getBiotProperty(address,'time') }}</td>
                <td>{{ getBiotProperty(address,'status') }}</td>
                <td>
                    <button (click)="resetCalibration(address)">Reset Calibration</button>
                    <button (click)="saveCalibration(address, getBiotProperty(address,'calibration'))">node -&gt; saved cal</button>
                    <button (click)="sendCalibration(address, savedCalibrations[address])">node &lt;- saved cal</button>
                </td>
            </tr>
        </tbody>
    </table>

    <button (click)="synchronise()">Force Synchronise Nodes</button>
    <button (click)="saveCalibrations()">Save Current Calibrations</button>
    <button (click)="sendCalibrations()">Send Saved Calibrations to Nodes</button>

    <p>
    This application is currently not intended to be used other than as an
    experimental platform. See: <a href="./#/about">About </a>
    </p>
</div>
