table {
    border-collapse: collapse;
    table-layout:fixed;
}

table, th, td {
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

thead tr {
    background-color: #f2f2f2;
}

td button {
    margin: 0  1.2em;
}

.active {
    color: red;
}

.flex {
    display: flex;
}

.small-text {
    font-size: small;
}


.table-small {
    width: 20%;
    margin: 1em;
}

.left-button {
    float: left;
    clear: left;
    width: 10%;
}

.right-button {
    float: right;
    clear: right;
    width: 10%;
}

