<div assemblies>
    <h4>Assemblies of Biot Nodes</h4>
    <div>Biotz Nodes detected: {{ getDetectedAddresses().length }} <button [disabled]="wantAll" (click)="showAll(true);">Show All</button></div> 
    <hr/>
    <div myThreeD  [sizeX]="1200" [sizeY]="400" (onLimbClicked)="limbDialog.openDialog($event)">
        <button class="right-button" (click)="toggleContext();">Show/Hide Environment</button>
        <button class="right-button" (click)="toggleLabels();">Show/Hide Labels</button>
        <button class="right-button" (click)="setCameraLook('def');">Default View</button>
        <button class="right-button" (click)="setCameraLook('n');">View North</button>
        <button class="right-button" (click)="setCameraLook('s');">View South</button>
        <button class="right-button" (click)="setCameraLook('e');">View East</button>
        <button class="right-button" (click)="setCameraLook('w');">View West</button>
        <button class="right-button" (click)="setCameraLook('t');">View from Bottom</button>
        <button class="right-button" (click)="setCameraLook('b');">View from Top</button>
    </div>
    <hr/>

    <h4>Limb Assembly Details</h4>
    <div>Currently Monitoring Biotz Nodes: <b>{{ monitoring }}</b>
        <button [ngClass]="{'active': monitoring}" (click)="toggleMonitoring()">Toggle Movement</button>
    </div>
    <table>
        <thead>
            <tr>
                <td>&nbsp;</td>
                <th>Limb Name</th>
                <th>Biotz Address</th>
                <th>Parent</th>
                <th>Length</th>
                <th>Timestamp</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let address of getVisibleAddresses()">
                <td><button (click)="selectLimb(address)">Select</button></td>
                <td><span [style.background]="'#' + getNodeColour(address)">&nbsp;&nbsp;</span>{{ getLimbName(address) }}</td>
                <td><span [style.background]="'#' + getNodeColour(address)">&nbsp;&nbsp;</span>{{ address }}</td>
                <td>
                    <span [style.background-color]="'#' + getNodeColour(getParentAddress(address))">&nbsp;&nbsp;</span>
                    {{ getParentAddress(address) }}
                </td>
                <td>
                    {{ getLimbLength(address) }}
                </td>
                <td>{{ getBiotProperty(address,'time') }}</td>
                <td>{{ getBiotProperty(address,'status') }}</td>
            </tr>
        </tbody>
    </table>

    <button (click)="sendCalibrations()">Send Saved Calibrations to Nodes</button>
    <hr/>
    <button (click)="saveCurrentAssembly()">Save Current Assembly</button>
    <button (click)="loadSavedAssembly()">Load Saved Assembly</button>
    <button (click)="addDummyNode(null)">Add Dummy Node</button>
    <button (click)="dropDummyNodes()">Remove Dummy Nodes</button>

    <p>
    This application is currently not intended to be used other than as an
    experimental platform. See: <a href="./#/about">About </a>
    </p>


    <div myDialog [name]="'limb-dialog'" class="dialog-holder">
        <div class="dialog-content">
            <h2>Adjust Limb Properties</h2>
            <div class="form-item">
                <label for="biot-name">Node:</label>
                <span class="form-value" id="biot-name">
                    <span [style.background-color]="'#' + getNodeColour(getCurrentLimbAddress())">&nbsp;&nbsp;</span>
                    {{ getCurrentLimbAddress() }}
                </span>
            </div>
            <div class="form-item">
                <label for="biot-name">Identify Node:</label>
                <button class="form-value" id="biot-name" (click)="identify(getCurrentLimbAddress())"> {{ getCurrentLimbAddress() }} </button>
            </div>

            <div class="form-item">
                <label for="limb-name">Limb Name:</label>
                <span class="form-value" id="limb-name">
                    <input #lname type="text" [ngModel]="getCurrentLimbName()" />
                    <button (click)="setLimbName(getCurrentLimbAddress(), lname.value)">Set</button>
                </span>
            </div>

            <div class="form-item">
                <label for="limb-length">Limb Length:</label>
                <span class="form-value" id="limb-length">
                    <input #llen type="text" [ngModel]="getCurrentLimbLength()" />
                    <button (click)="setLimbLength(getCurrentLimbAddress(), llen.value)">Set</button>
                </span>
            </div>
            <div class="form-item">
                <label for="limb-parent">Limb Parent:</label>
                <span class="form-value">
                    <myDropdown [items]="getOtherAddresses(getCurrentLimbAddress())"
                       (onValueSet)="setParent(getCurrentLimbAddress(), $event)"
                       [itemColours]="nodeColours"
                       [emptyValue]="'select parent...'">
                    </myDropdown>
                </span>
            </div>

            <div class="dialog-buttons" >
                <button (click)="limbDialog.closeDialog()">Done</button>
            </div>
        </div>
    </div>

    <div myDialog [name]="'assembly-dialog'" class="dialog-holder">
            <h2>Save Limb Assembly</h2>
            <div class="form-item">
                <label for="assembly-name">Name:</label>
                <span class="form-value" id="assembly-name">
                    <input #nme type="text" />
                    <button (click)="saveAssembly(nme.value); assemblyDialog.closeDialog()">Save</button>
                    <button (click)="assemblyDialog.closeDialog()">Cancel</button>
                </span>
            </div>
    </div>

    <div myDialog [name]="'assembly-load-dialog'" class="dialog-holder">
            <h2>Load Limb Assembly</h2>
            <div class="form-item">
                <label for="assembly-names">Name:</label>
                    <myDropdown id="assembly-names"
                                [items]="assemblyNames"
                                (onValueSet)="setWantedAssembly($event)"
                                [itemColours]="nodeColours"
                                [emptyValue]="'select assembly...'">
                    </myDropdown>
            </div>
            <div class="dialog-buttons">
                <button (click)="loadAssembly(wantedAssembly); assemblyLoadDialog.closeDialog()">Load</button>
                <button (click)="assemblyLoadDialog.closeDialog()">Cancel</button>
            </div>
    </div>

</div>
