table {
    border-collapse: collapse;
    table-layout:fixed;
}

table, th, td {
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

thead tr {
    background-color: #f2f2f2;
}

td {
        width: 5%;
}

.active {
    color: red;
}

.table-small {
    width: 20%;
    margin: 1em;
}

