<h3>Biot Nodes</h3>

<div nodes>


    <hr/>
    <div>Biotz Nodes detected: {{ getDetectedAddresses().length }} <button [disabled]="wantAll" (click)="showAll(true);">Show All</button></div> 
    <div myThreeD>
    </div>
    <hr/>

    <h3>Node Position Data</h3>
    <div>Currently Monitoring Biotz Nodes: <b>{{ monitoring }}</b></div>
    <button [ngClass]="{'active': monitoring}" (click)="toggleMonitoring()">Toggle Monitor</button>
    <table>
        <thead>
            <tr>
                <th>Biotz Address</th>
                <th>timestamp</th>
                <th>w</th>
                <th>x</th>
                <th>y</th>
                <th>z</th>
                <th>status</th>
                <th>cals</th>
                <th>saved cals</th>
                <th>Identify</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let address of getVisibleAddresses()">
                <td (click)="toggleShowAll(address)"><span [style.background]="'#' + getNodeColour(address)">&nbsp;&nbsp;</span>{{ address }}</td>
                <td>{{ getBiotProperty(address,'time') }}</td>
                <td>{{ getBiotProperty(address,'w') }}</td>
                <td>{{ getBiotProperty(address,'x') }}</td>
                <td>{{ getBiotProperty(address,'y') }}</td>
                <td>{{ getBiotProperty(address,'z') }}</td>
                <td>{{ getBiotProperty(address,'status') }}</td>
                <td>{{ getBiotProperty(address,'calibration') }}</td>
                <td>{{ getBiotProperty(address,'savedCals') }}</td>
                <td>
                    <button (click)="identify(address)">Identify</button>
                </td>
            </tr>
        </tbody>
    </table>


    <button (click)="synchronise()">Force Synchronise Nodes</button>
    <button (click)="saveCalibrations()">Save Current Calibrations</button>
    <button (click)="sendCalibrations()">Send Saved Calibrations to Nodes</button>

    <p>
    This application is currently not intended to be used other than as an
    experimental platform. See: <a href="./#/about">About </a>
    </p>
</div>
